.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;  
    padding: 20px;
    text-align: center;
}
.form-button{
    grid-column: 1 / -1;
    border-radius: 5px;
    border: 1px ;
    border: 1px purple solid;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.form-container{
    padding: 50px;
    border-radius: 5px;
  
}
.form-input{
    text-indent: 5px;
}
